{% extends 'base.html' %}
{% block title %}
    {{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
    <nav class="header_nav">
        <a class = "header_nav_link" href = "{% url 'recipe_list' %}">Main page</a>
        <a class = "header_nav_link" href = "{% url 'edit_form' recipe_object.id %}">Edit Recipe</a>
    </nav>
</header>
<main>
    <h1 class="page_header" >{{recipe_object.title}}</h1>
    <img src = "{{recipe_object.picture}}" alt="{{recipe_object.title}}">
    <div>4.3 stars</div>
    <p>{{ recipe_object.description}}</p>
    <h2>Ingredients</h2>
    <table>
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food Item</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ingredient.amount}}</td>
                <td>{{ingredient.food_item}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
       {% for step in recipe_object.step.all %}
       <li> {{step.instruction}} </li>
       {% endfor %}
    </ol>
</main>
{% endblock content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>{{ recipe_object.title }} - Scrumptious Recipes</title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
