{% extends 'base.html' %}
{% block title %}
{{ recipe_object.title }} - Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav class="header_nav">
        <a class = "header_nav_link" href = "{% url 'recipe_list' %}">Main page</a>
    </nav>
</header>
<main>
   <form method = "post">
        {% csrf_token %}
        {{edit_form.as_p}}
        <button>Save</button>
   </form>
</main>
{% endblock content %}

{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <footer>Made with love by Scrumptious Recipes</footer>
    </body>
</html>
