{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}
{% block content %}
<header>
    <nav class="header_nav">
        <a class="header_nav_link" href="{% url 'recipe_list' %}">Main page</a>
        {% if request.user.is_aurthenticated %}
        <a class ="header_nav_link" href = "{% url 'create_recipe' %}">Create a Recipe</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1 class = "page_header" >Scrumptious Recipes</h1>
    <h2>All the food that's fit to eat</h2>
    <div class = "recipe_grid">
        {% for recipe in recipe_list %}
        <div class="recipe_card">
            <h3>
                <a class = "detail_link" href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <p>{{ recipe.created_on|date:"n/j/o" }}</p>
            <img src="{{ recipe.picture }}" alt={{recipe.title}}>
            <div>4.3 stars</div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="{% static 'css/recipes.css' %}">
    </head>
    <body>
        <footer> Made with love by Scrumptious Recipes</footer>
    </body>
</html>
