@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Sedan+SC&display=swap');
:root{
    --title-font: "Alfa Slab One";
    --title-color-light: darkgreen;
    --header-color-light: orangered;
    --header-text-color-light:white;
    --detail-link-text-light:green;
    --detail-link-text-hover-light:lightseagreen;
    --header_text_hover_light:green;
    --body_background: white;
}

@media (width < 600px) {
    :root{
        --title-color-light: rgb(10, 10, 10);
        --header-color-light: rgb(76, 70, 68);
        --header-text-color-light:rgb(33, 31, 31);
        --detail-link-text-light:green;
        --detail-link-text-hover-light:lightseagreen;
        --header_text_hover_light:green;
        --body_background: white;
    }
}

body {
    background-color: var(--body_background);
    margin: 0;
    padding: 0;
}

.header_nav{
    background-color: var(--header-color-light);
}

.header_nav_link{
    color:var(--header-text-color-light);
}

.header_nav_link:hover{
    color: var(--header_text_hover_light);
}

a {
text-decoration: none;
}

main {
    padding: 16px;
}

.page_header{
    color: var(--title-color-light);
    font-family:var(--title-font);
    font-size: 3em;
}

.detail_link {
    color:var(--detail-link-text-light);
}

.detail_link:hover{
    color: var(--detail-link-text-hover-light);
}

.detail_list_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-content: flex-start;
    gap: 3em;
}

/* .detail_list_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 5em;
} */
.veg_taco_box{
    display: flex;
    flex-direction: column;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

footer{
    background-color: rgb(167, 201, 115);
    padding:2em;
    position: sticky;
}

@media (width < 600px) {
    :root{
        --body_background:darkslategrey;
    }
}
